#tela-criacao{
    width: 100vw;
    display: none;
    background-color: white;
    font-family: 'Roboto', sans-serif;
}
#tela-criacao article{
    width: calc(100vw - 280px);
    max-width: 100%;
    margin: 30px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#perguntas,#niveis,#tela-criacao .item-lista,#tela-criacao button,#tela-criacao #titulo,#tela-criacao .full{
    width: 100%;
}
#tela-criacao input, #tela-criacao textarea{
    border: none;
    margin-bottom: 5px;
    padding-left: 3px;
}
#tela-criacao ion-icon{
    color: #ed3625;
    font-size: 40px;
    margin-bottom: 40px;
}
#tela-criacao button{
    height: 40px;
    text-transform: uppercase;
    border-radius: 8px;
    background-color: rgb(237, 54, 37);
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}
#tela-criacao #titulo{
    height: 40px;
    font-size: 16px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 0px 0.5px rgb(177, 174, 174);
}
#tela-criacao .item-lista{
    background-color: rgba(237, 54, 37, 0.2);
    border-radius: 10px;
    height: 230px;
    margin: 10px 0px;
    padding: 10px;
}

/* estilos caixa com as perguntas e niveis */
#tela-criacao h3{
    color: black;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
}
#perguntas input, #niveis input, #niveis textarea{
    font-family: inherit;
    height: 30px;
    border-radius: 8px;
    font-size: 12px;
}
.opcao input{
    width: 49.7%;
}
#tela-criacao .full{
    background-color: #fefffd;
}
.opcao{
    display: flex;
    justify-content: space-between;
}
.correta input{
    background-color: #c0eebe;
}
.errada input{
    background-color: #ebaaac;
}
#niveis textarea{
    height: 60px;
}