#tela-usuario, #tela-login{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    transition: display 300ms ease-in;
    font-family: 'Roboto', sans-serif;
}