#tela-login{
    display: flex;
    opacity: 1;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}
#tela-login form{
    width: 330px;
    max-width: 100%;
    height: 215px;
    padding: 18px;
    margin-top: 30px;
    background-color: #ed3625;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    font-size: 18px;
}
#tela-login input{
    width: 100%;
    max-width: 100%;
    height: 50px;
    color: #9c9c9c;
    border-radius: 2px;
    border: none;
    font-size: inherit;
}
#tela-login button{
    width: 140px;
    height: 40px;
    background-color: #CD7F78;
    color: #fff;
    border: none;
    border-radius: 7px;
    font-size: inherit;
}
#tela-login h1{
    color: black;
    font-weight: bolder;
    font-size: 40px;
    margin-bottom: 5px;
}
#tela-login h3{
    color: #9c9c9c;
    font-weight: 200;
    font-size: 25px;
}