#tela-usuario{
    display: none;
    width: 100vw;
    height: 100vh;
    color: white;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 0;
    left: 0;
}
#tela-usuario .container{
    margin: 45px auto 10px auto;
    width: calc(100% - 300px);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}
#tela-usuario .container > div{
    width: 175px;
    height: 190px;
    border-radius: 10px;
    padding: 10px 35px;
    flex-shrink: 0;
    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    word-wrap: break-word;
    box-shadow: 1px 1px 20px 1.5px rgb(177, 174, 174);
}
#tela-usuario #criar-quizz{
    background-color: #ed3625;
    font-weight: 900;
    font-size: 22px;
}
#tela-usuario #criar-quizz ion-icon{
    font-size: 35px;
}
#tela-usuario .quizz{
    background-color: white;
    color: #2c2b2b;
    font-weight: 300;
    position: relative;
    overflow: hidden;
}
#tela-usuario .quizz ion-icon{
    color: #fff;
    background-color: #ed3625;
    position: absolute;
    top: 0;
    right: -30px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 0px 5px 0px 0px;
    cursor: pointer;
    padding: 5px;
}
#tela-usuario .quizz:hover ion-icon{
    right: 0;
}